In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor

In [2]:
df = pd.read_csv("../experiments/kc_house_data.csv")

In [3]:
df.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [5]:
features = ['bedrooms', 'bathrooms', 'sqft_living',
            'sqft_lot', 'floors', 'waterfront', 'view', 
            'condition', 'grade', 'sqft_above', 'sqft_basement']

In [9]:
df[features]

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement
0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0
1,3,2.25,2570,7242,2.0,0,0,3,7,2170,400
2,2,1.00,770,10000,1.0,0,0,3,6,770,0
3,4,3.00,1960,5000,1.0,0,0,5,7,1050,910
4,3,2.00,1680,8080,1.0,0,0,3,8,1680,0
...,...,...,...,...,...,...,...,...,...,...,...
21608,3,2.50,1530,1131,3.0,0,0,3,8,1530,0
21609,4,2.50,2310,5813,2.0,0,0,3,8,2310,0
21610,2,0.75,1020,1350,2.0,0,0,3,7,1020,0
21611,3,2.50,1600,2388,2.0,0,0,3,8,1600,0
21612,2,0.75,1020,1076,2.0,0,0,3,7,1020,0

In [9]:
x = df[features]
y = df["price"]

In [14]:
x_train, x_test, y_train, y_test = train_test_split(x, y, train_size=0.7, 
                                                    random_state=3)

# choose model with settings
model = RandomForestRegressor(n_estimators=100) 
model.fit(x_train, y_train)

RandomForestRegressor()

In [15]:
metrics = {"train_score": model.score(x_train, y_train), 
"test_score": model.score(x_test, y_test)}
print(metrics)

{'train_score': 0.9549744031130298, 'test_score': 0.6953684323683177}

In [1]:
import json

In [6]:
X=!curl -s -d '{"inputs":[{"name":"INPUT0","data":[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16],"datatype":"INT32","shape":[1,16]},{"name":"INPUT1","data":[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16],"datatype":"INT32","shape":[1,16]}]}'  \
        -X POST http://localhost:8003/seldon/seldon/mlflow/v2/models/infer \
        -H "Content-Type: application/json"
print(X)
d=json.loads(X)
print(d)
assert(d["outputs"][0]["data"][0]==2)

[]

TypeError: the JSON object must be str, bytes or bytearray, not SList

In [5]:
!ping http://0.0.0.0:8003

ping: cannot resolve http://0.0.0.0:8003: Unknown host